<h1>{{ program.title }}</h1>
<h2>Saison
	{{ season.number }}</h2>
<p>Episode
	{{ episode.number }}
	-
	{{ episode.title }}</p>

<p>{{ episode.synopsis }}</p>


<a href='{{ path("program_season_show", { program: program.id, season: season.id }) }}'>Retour</a>
