{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}
{% endblock %}

{% block body %}
	<h1 class="text-primary">{{ program.title }}
		:
		{{ episode.title }}</h1>
	<h2 class="text-primary">Saison
		{{ season.number }}</h2>
	<p class="text-light">Episode
		{{ episode.number }}
		-
		{{ episode.title }}</p>

	<p class="text-light">{{ episode.synopsis }}</p>

	{% if app.user %}
		<h2 class="text-primary">Ajouter un commentaire</h2>
		{{ form_start(form) }}
		{{ form_widget(form) }}
		<button type="submit">Ajouter un commentaire</button>
		{{ form_end(form) }}
	{% else %}
		<p>
			Tu dois être connecter pour ajouter un commentaire</p>
	{% endif %}


	<a href='{{ path("program_season_show", { slug: program.slug, seasonNumber: season.number }) }}'>Retour</a>
{% endblock %}
