{% extends 'base.html.twig' %}

{% block title %}Wild Series | Index
{% endblock %}

{% block body %}
	<h1>{{ website }}
		index</h1>
	<a href="{{ path('program_show', {id: 1}) }}">Afficher la page 1</a><br>
	<a href="{{ path('program_show', {id: 2}) }}">Afficher la page 2</a><br>
	<a href="{{ path('program_show', {id: 3}) }}">Afficher la page 3</a><br>
	<a href="{{ path('program_show', {id: 4}) }}">Afficher la page 4</a><br>
	<a href="{{ path('program_show', {id: 5}) }}">Afficher la page 5</a><br>

	<img src="{{ asset('build/path_to_image.png') }}" alt=""/>
{% endblock %}
