{% extends 'base.html.twig' %}

{% block title %}Série #
{% endblock %}

{% block body %}
	<div class="media">
		<div class="media-body">
			<h1 class="mt-0 text-primary">{{ program.title }}</h1>
			<p class="text-light">{{ program.synopsys }}</p>
			<p class="text-primary">Catégorie :</p>
			<p class="text-light">
				{{ program.category.name }}</p>
		</p>
		<p class="text-primary">Saison :</p>
		<p class=" text-light">
			{{ season.number }}
		</p>
	</h2>
	<h2 class="text-primary">Liste des épisodes</h3>
	<ul>
		{% for episode in episodes %}
			<li class="text-light">
				<a href="{{ path('program_episode_show', { 'program': program.slug, 'seasonNumber': season.number, 'episode': episode.slug }) }}">
					{{ episode.title }}
				</a>
			</li>
		{% endfor %}
	</ul>
</div></div><strong>Acteurs :</strong><a href="{{ path('program_show', { 'slug': program.slug }) }}">Retour</a>{% endblock %}
