<nav class="navbar navbar-expand-lg">
	<div class="container-fluid">
		<div class="d-flex align-items-center">
			<a class="navbar-brand text-primary text-uppercase fs-5" href="/">
				<img src="{{ asset('build/images/logo.png') }}" alt="" class="image-size me-2"/>
				Wild Series
			</a>
		</div>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
			<ul class="navbar-nav gap-3">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle text-primary border border-primary rounded custom-width text-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Catégories
					</a>
					<ul class="dropdown-menu bg-secondary">
						<li>
							<a class="dropdown-item text-primary" href="#">Action</a>
						</li>
						<li>
							<a class="dropdown-item text-primary" href="#">Aventure</a>
						</li>
						<li>
							<a class="dropdown-item text-primary" href="#">Comédie</a>
						</li>
						<li>
							<a class="dropdown-item text-primary" href="#">Horreur</a>
						</li>
						<li>
							<a class="dropdown-item text-primary" href="#">Romance</a>
						</li>
						<li>
							<a class="dropdown-item text-primary" href="#">Science-fiction</a>
						</li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle text-primary border border-primary rounded custom-width text-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Acteurs
					</a>
					<ul class="dropdown-menu bg-secondary">
						<li>
							<a class="dropdown-item text-primary" href="#">Acteur 1</a>
						</li>
						<li>
							<a class="dropdown-item text-primary" href="#">Acteur 2</a>
						</li>
						<li>
							<a class="dropdown-item text-primary" href="#">Acteur 3</a>
						</li>
					</ul>
				</li>
				<div class="d-flex align-items-center">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="#ed6c6d" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
						<polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon>
					</svg>
					<li class="nav-item">
						<a class="nav-link active text-primary" aria-current="page" href="#">Mes favoris</a>
					</li>
				</div>

				<div class="d-flex align-items-center gap-4">
					{% if app.user %}
						<div>
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="#ed6c6d" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5.52 19c.64-2.2 1.84-3 3.22-3h6.52c1.38 0 2.58.8 3.22 3"/><circle cx="12" cy="10" r="3"/><circle cx="12" cy="12" r="10"/></svg>
							<span class="text-primary m-0 in-line">{{ app.user.email }}</span>
						</div>
						<div>


							<a href="{{ path('app_logout') }}" class="btn btn-outline-primary">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="#ed6c6d" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M10 3H6a2 2 0 0 0-2 2v14c0 1.1.9 2 2 2h4M16 17l5-5-5-5M19.8 12H9"/></svg>
								Se déconnecter</a>
						</div>
					{% else %}
						<a href="{{ path('app_login') }}">
							Se connecter</a>
						<a href="{{ path('app_register') }}" class="btn btn-outline-primary">Créer un compte</a>
					{% endif %}

				</div>
			</ul>
		</div>
	</div>
</nav>
